html{
    font-size: 24px;
    scroll-behavior: smooth;
}

svg{
    width: 8vw;
    height: 8vw;
}

img{
    width: 8vw;
    height: 8vw;
}

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
li{
    margin-right: 70px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #75DBCD;
}
p{
    margin: 0px;
    padding: 0px;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.contact-relative{
    position: relative;
}

.flex{
    display: flex;
}
.row-column{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.column-row{
    flex-direction: column;
}
.center-column{
    justify-content: center;
}
.end-column{
    justify-content: flex-end;
}
.space-around-column{
    justify-content: space-around;
}
.space-between-column{
    justify-content: space-between;
}
.space-evenly-column{
    justify-content: space-evenly;
}
.center-row{
    align-items: center;
}
.end-row{
    align-items: flex-end;
}
.space-between-row{
    align-items: space-between;
}
.align-self-center{
    align-self: center;
}
.height-90{
    height: 60vh;
}
.height-70{
    height: 70vh;
}
.title-margin{
    margin-top: 40vh;
}
.width-100{
    width: 100%;
}
.max-width-27r{
    max-width: 27rem;
}

.vw-28{
    width: 28vw;
}
.vw-53{
    width: 53vw;
}
.vw-53:hover{
    z-index: 0;
}
.contact-vw-53{
    width: 53vw;
}
.vw-40{
    width: 40vw;
}
.vw-70{
    width: 70vw;
}
.vw-100{
    min-width: 98vw;
}
.vw-99{
    width: 99vw;
}
.vw-300{
    width: 300vw;
}

.vh-15{
    height: 13vh;
}
.vh-10{
    height: 10vh;
}


.button-size{
    width: calc(28vw + 33px);
    height: 37.5px;
}

.resize-none{
    resize: none;
}

.font-ntr{
    font-family: 'NTR', sans-serif;
}
.font-castorgate{
    font-family: 'Castorgate', sans-serif;
}
.bg-color-purple{
    background-color: rgb(13, 6, 40, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.bg-dark-purple{
    background-color: #0D0628;
}
.bg-pink{
    background: #F61067;
}
.bg-green{
    background: #75DBCD;
}
.bg-white{
    background: #EDF5FC;
}
.font-white{
    color: #EDF5FC;
}
.font-pink{
    color: #F61067;
}
.font-green{
    color: #75DBCD;
}

.font-size-64{
    font-size: clamp(1rem, 3.9vmax, 5rem);
}
.font-size-24{
    /* font-size: clamp(.375rem, 3.5vw, 1rem); */
    font-size: clamp(.375rem, 1.7vmax, 2rem);
}
.font-size-20{
    font-size: clamp(0.312rem, 1.6vmax, 1.5rem);
}
.text-align-center{
    text-align: center;
}
.text-align-justify{
    text-align: justify;
}
.hover:hover{
    cursor: pointer;
}

.sticky{
    position: sticky;
    top: -1px;
    z-index: 1;
    transition: background-color 150ms ease-in-out;
}
.overflow-auto{
    overflow: auto;
    scroll-behavior: smooth;
}
.overflow-hidden{
    overflow: hidden;
    scroll-behavior: smooth;
}
.overflow-x-hidden{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.overflow-x-visible{
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.overflow-x-auto{
    overflow-x: auto;
    scroll-behavior: smooth;
}
.overflow-y-visible{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.scroll-smooth{
    scroll-behavior: smooth;
}

.heading-margin{
    margin-bottom: 38px;
}

.margin-top-2{
    margin-top: 2rem;
}

.margin-top-46{
    margin-top: 46px;
}

.padding-top-5{
    padding-top: 13vh;
    margin-right: 50vw;
}

.padding-top-10{
    padding-top: 30vh;
}
.padding-bottom-10{
    padding-bottom: 30vh;
}
.bottom-page-padding{
    padding-bottom: calc(1)
}

.border-none{
    box-shadow: none;
    text-decoration: none;
}
.transition-navbar{
    transition: box-shadow 150ms ease-in-out, color 150ms ease-in-out;
}
.transition-navbar:hover{
    box-shadow: inset 0px -1px 0px 0px #7ddf64;
    color: #7DDF64;
}
.click-white:hover{
    color: #EDF5FC;
    box-shadow: none;
}

.title-btm-margin{
    min-height: 60vh;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.img-vertical{
    z-index: 0;
    height: 60vh;
    width: auto;
    border-radius: 20px;
    border: 5px solid black;
}
.img-horizontal{
    
    height: auto;
    width: 30vw;
    min-width: 170px;
    border-radius: 20px;
    border: 5px solid black;
}
.img-square{
    height: auto;
    width: 20vw;
    min-width: 170px;
    border-radius: 20px;
    border: 5px solid black;
}
.img-behind{
    right: 14%;
    top: -7%;
}
.border-radius-10{
    border-radius: 10px;
}
.black-filter{
    position: absolute;
    height: calc(100% - 20px);
    width: 100%;
    border-radius: 20px;
    background: black;
    opacity: .5;
    top: 0px;
}
.z-b1{
    z-index: -1;
}
.z-b1:hover{
    z-index: 0;
}
.z-b1:hover > div{
    background: transparent;
}
.diamond{
    width: 2vw;
    max-width: 15px;
    height: 2vw;
    max-height: 15px;
    transform: rotate(45deg);
    transition: background 150ms ease-in-out;
    transition-delay: 150ms;
}

.diamond:hover{
    background: #7DDF64;
}

.hidden-diamond{
    position: absolute;
    width: 0vw;
    max-width: 20px;
    height: 0vw;
    max-height: 20px;
    border: 0px solid #75DBCD;
    transition: all 150ms ease-in-out;
    transition-delay: 150ms;
}

.enlarge-diamond{
    width: 3vw;
    height: 3vw;
    border-width: 2px;
    border-color: #EDF5FC;
}

.click-diamond:hover{
    background: #EDF5FC;
}
.line{
    height: 0.5vw;
    max-height: 3px;
    width: 13vw;
    max-width: 75px;
    border-radius: 3px;
    background: linear-gradient(90deg, #75DBCD, #EDF5FC, #75DBCD);
    background-size: 800% 100%;
    background-position: 100% 0%;
    transition: background-position 600ms ease-in-out;
    margin: 0px 26px;
}
.line-bg-position{
    background-position: 0% 0%
}
.line-animation{
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: line;
}
@keyframes line{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.container-margin{
    width: calc(100vw - 290px);
}
.icon-content::before{
    position: absolute;
    border: 3px solid #75DBCD;
    height: 12vw;
    max-height: 60px;
    width: 12vw;
    max-width: 60px;
    border-radius: 12vw;
    opacity: 0;
    transition: opacity 125ms ease-in-out;
    content: " ";
    top: -6px;
}
.icon-content:hover::before{
    opacity: 1;
    top: -8px;
}
.icon-content::after {
    opacity: 0;
    color:#75DBCD;
    transition: opacity 150ms ease-in-out;
}
.icon-content:hover::after{
    opacity: 1;
}
.icon-email::after{
    content: "Copy Email";
}
.icon-email-clicked::after{
    content: "Copied";
}
.icon-github::after{
    content: "  Github  ";
    min-width: 13vw;
    text-align: center;
}
.icon-linkedin::after{
    content: " LinkedIn ";
    min-width: 13vw;
    text-align: center;
}
.icon-facebook::after{
    content: "Facebook";
    min-width: 13vw;
    text-align: center;
}
.icon:hover{
    cursor: pointer;
}
.icon > img{
    height: 10vw;
    max-height: 50px;
    width: 10vw;
    max-width: 50px;
    transition: transform 150ms ease-in-out, 
                height 150ms ease-in-out, 
                width 150ms ease-in-out, 
                max-height 150ms ease-in-out, 
                max-width 150ms ease-in-out;
}
.icon:hover > svg{
    cursor: pointer;
    height: 11vw;
    max-height: 55px;
    width: 11vw;
    max-width: 55px;
}
.icon > svg > path{
    transition: fill 150ms ease-in-out;
}
.icon:hover > svg > path{
    fill: #7ddf64;
}
.placeholder{
    padding: 50px;
    margin: 50px;
}
.tech-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12vw;
    min-height: 2.5rem;
    justify-content: center;
}
.landing-img{
    opacity: 5%;
    width: 100vw;
    height: auto;
}
.landing-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}
.landing-relative{
    position: relative;
}
.scroll-margin{
    min-height: 25vh;
}
.scroll-margin-2{
    min-height: 1vh;
}
.margin-top-img{
    margin-top: 5vh;
}
.to-top{
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.visible{
    opacity: 1;
}
.back-to-top-icon{
    background: #75DBCD;
    mask-image: url("./src/v1/assets/icons/BackToTop3.svg");
    mask-size: 4vmin auto;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("./src/v1/assets/icons/BackToTop3.svg");
    -webkit-mask-size: 4vmin auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    height: 4.1vmin;
    width: 4.1vmin;
    transition: transform 150ms ease-in-out;
}
.back-to-top-icon:hover{
    background: #7ddf64;
    transform: scale(1.2);
}
@media screen and (min-height: 109vw){
    li{
        margin-right: 20px;
    }
    .heading-margin{
        margin-bottom: 20px;
    }
    .margin-bottom-50{
        margin-bottom: 20px;
    }
    .img-behind{
        z-index: -1;
        opacity: 0.2;
        top: -25px;
        right: 42px;
    }
    .z-b1{
        visibility: hidden;
        height: 0px;
    }
    .vw-28{
        width: 70vw;
    }
    .vw-53{
        width: 70vw;
    }
    .black-filter{
        height: 0px;
    }
    .relative{
        position: absolute;
        justify-content: center;
    }
    .absolute{
        position:initial;
    }
    #project1, #project2, #project3{
        position: relative;
    }
    .desc-padding{
        padding: 25vh 0rem 25vh 0rem;
    }
    .height-90{
        height: 30vh;
    }
    .row-column{
        flex-direction: column;
    }
    .contact-vw-53{
        width: 100%;
    }
    .column-row{
        flex-direction: row;
        margin-top: 10vw;
    }
    .max-width-27r{
        width: 100%;
        justify-content: space-evenly;
    }
    .icon-content:hover::before {
        opacity: 1;
        top: -8.4%;
    }
    .icon-content::before {
        opacity: 0;
        top: -8.4%;
    }
    .icon-email::after {
        margin-top: 10%;
    }
    .icon-github::after{
        margin-top: 10%;
    }
    .icon-linkedin::after{
        margin-top: 10%;
    }
    .icon-discord::after{
        margin-top: 10%;
    }
    .margin-top-46{
        margin-top: 5vh;
    }
    .img-horizontal{
        width: 70vw;
    }
    .img-vertical{
        width: auto;
        height: 40vh;
    }
    .img-square{
        z-index: -1;
        opacity: 0.5;
    }
    .vh-15{
        height: 8vh;
    }
    .padding-top-5{
        padding-top: 8vh;
    }
    .margin-top-img{
        margin-top: 0vh;
    }
}
@media screen and (max-height: 150vw) 
              and (min-height: 109vw){
    .title-btm-margin{
        min-height: 55vw;
    }
}
@media screen and (max-width: 912px){
    .landing-img{
        height: 100vh;
        width: auto;
    }
    .landing-container{
        display: flex;
        justify-content: center;
    }
}