.v1 html {
  font-size: 24px;
  scroll-behavior: smooth;
}

.v1 svg {
  width: 8vw;
  height: 8vw;
}

.v1 img {
  width: 8vw;
  height: 8vw;
}

.v1 body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
.v1 ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.v1 li {
  margin-right: 70px;
  cursor: pointer;
}
.v1 a {
  text-decoration: none;
  color: #75dbcd;
}
.v1 p {
  margin: 0px;
  padding: 0px;
}
.v1 .absolute {
  position: absolute;
}
.v1 .relative {
  position: relative;
}
.v1 .contact-relative {
  position: relative;
}

.v1 .flex {
  display: flex;
}
.v1 .row-column {
  flex-direction: row;
}
.v1 .column {
  flex-direction: column;
}
.v1 .column-row {
  flex-direction: column;
}
.v1 .center-column {
  justify-content: center;
}
.v1 .end-column {
  justify-content: flex-end;
}
.v1 .space-around-column {
  justify-content: space-around;
}
.v1 .space-between-column {
  justify-content: space-between;
}
.v1 .space-evenly-column {
  justify-content: space-evenly;
}
.v1 .center-row {
  align-items: center;
}
.v1 .end-row {
  align-items: flex-end;
}
.v1 .space-between-row {
  align-items: space-between;
}
.v1 .align-self-center {
  align-self: center;
}
.v1 .height-90 {
  height: 60vh;
}
.v1 .height-70 {
  height: 70vh;
}
.v1 .title-margin {
  margin-top: 40vh;
}
.v1 .width-100 {
  width: 100%;
}
.v1 .max-width-27r {
  max-width: 27rem;
}

.v1 .vw-28 {
  width: 28vw;
}
.v1 .vw-53 {
  width: 53vw;
}
.v1 .vw-53:hover {
  z-index: 0;
}
.v1 .contact-vw-53 {
  width: 53vw;
}
.v1 .vw-40 {
  width: 40vw;
}
.v1 .vw-70 {
  width: 70vw;
}
.v1 .vw-100 {
  min-width: 98vw;
}
.v1 .vw-99 {
  width: 99vw;
}
.v1 .vw-300 {
  width: 300vw;
}

.v1 .vh-15 {
  height: 13vh;
}
.v1 .vh-10 {
  height: 10vh;
}

.v1 .button-size {
  width: calc(28vw + 33px);
  height: 37.5px;
}

.v1 .resize-none {
  resize: none;
}

.v1 .font-ntr {
  font-family: "NTR", sans-serif;
}
.v1 .font-castorgate {
  font-family: "Castorgate", sans-serif;
}
.v1 .bg-color-purple {
  background-color: rgb(13, 6, 40, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.v1 .bg-dark-purple {
  background-color: #0d0628;
}
.v1 .bg-pink {
  background: #f61067;
}
.v1 .bg-green {
  background: #75dbcd;
}
.v1 .bg-white {
  background: #edf5fc;
}
.v1 .font-white {
  color: #edf5fc;
}
.v1 .font-pink {
  color: #f61067;
}
.v1 .font-green {
  color: #75dbcd;
}

.v1 .font-size-64 {
  font-size: clamp(1rem, 3.9vmax, 5rem);
}
.v1 .font-size-24 {
  /* font-size: clamp(.375rem, 3.5vw, 1rem); */
  font-size: clamp(0.375rem, 1.7vmax, 2rem);
}
.v1 .font-size-20 {
  font-size: clamp(0.312rem, 1.6vmax, 1.5rem);
}
.v1 .text-align-center {
  text-align: center;
}
.v1 .text-align-justify {
  text-align: justify;
}
.v1 .hover:hover {
  cursor: pointer;
}

.v1 .sticky {
  position: sticky;
  top: -1px;
  z-index: 1;
  transition: background-color 150ms ease-in-out;
}
.v1 .overflow-auto {
  overflow: auto;
  scroll-behavior: smooth;
}
.v1 .overflow-hidden {
  overflow: hidden;
  scroll-behavior: smooth;
}
.v1 .overflow-x-hidden {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.v1 .overflow-x-visible {
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.v1 .overflow-x-auto {
  overflow-x: auto;
  scroll-behavior: smooth;
}
.v1 .overflow-y-visible {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.v1 .scroll-smooth {
  scroll-behavior: smooth;
}

.v1 .heading-margin {
  margin-bottom: 38px;
}

.v1 .margin-top-2 {
  margin-top: 2rem;
}

.v1 .margin-top-46 {
  margin-top: 46px;
}

.v1 .padding-top-5 {
  padding-top: 13vh;
  margin-right: 50vw;
}

.v1 .padding-top-10 {
  padding-top: 30vh;
}
.v1 .padding-bottom-10 {
  padding-bottom: 30vh;
}
.v1 .bottom-page-padding {
  padding-bottom: calc(1);
}

.v1 .border-none {
  box-shadow: none;
  text-decoration: none;
}
.v1 .transition-navbar {
  transition:
    box-shadow 150ms ease-in-out,
    color 150ms ease-in-out;
}
.v1 .transition-navbar:hover {
  box-shadow: inset 0px -1px 0px 0px #7ddf64;
  color: #7ddf64;
}
.v1 .click-white:hover {
  color: #edf5fc;
  box-shadow: none;
}

.v1 .title-btm-margin {
  min-height: 60vh;
}

.v1 .margin-bottom-50 {
  margin-bottom: 50px;
}

.v1 .img-vertical {
  z-index: 0;
  height: 60vh;
  width: auto;
  border-radius: 20px;
  border: 5px solid black;
}
.v1 .img-horizontal {
  height: auto;
  width: 30vw;
  min-width: 170px;
  border-radius: 20px;
  border: 5px solid black;
}
.v1 .img-square {
  height: auto;
  width: 20vw;
  min-width: 170px;
  border-radius: 20px;
  border: 5px solid black;
}
.v1 .img-behind {
  right: 14%;
  top: -7%;
}
.v1 .border-radius-10 {
  border-radius: 10px;
}
.v1 .black-filter {
  position: absolute;
  height: calc(100% - 20px);
  width: 100%;
  border-radius: 20px;
  background: black;
  opacity: 0.5;
  top: 0px;
}
.v1 .z-b1 {
  z-index: -1;
}
.v1 .z-b1:hover {
  z-index: 0;
}
.v1 .z-b1:hover > div {
  background: transparent;
}
.v1 .diamond {
  width: 2vw;
  max-width: 15px;
  height: 2vw;
  max-height: 15px;
  transform: rotate(45deg);
  transition: background 150ms ease-in-out;
  transition-delay: 150ms;
}

.v1 .diamond:hover {
  background: #7ddf64;
}

.v1 .hidden-diamond {
  position: absolute;
  width: 0vw;
  max-width: 20px;
  height: 0vw;
  max-height: 20px;
  border: 0px solid #75dbcd;
  transition: all 150ms ease-in-out;
  transition-delay: 150ms;
}

.v1 .enlarge-diamond {
  width: 3vw;
  height: 3vw;
  border-width: 2px;
  border-color: #edf5fc;
}

.v1 .click-diamond:hover {
  background: #edf5fc;
}
.v1 .line {
  height: 0.5vw;
  max-height: 3px;
  width: 13vw;
  max-width: 75px;
  border-radius: 3px;
  background: linear-gradient(90deg, #75dbcd, #edf5fc, #75dbcd);
  background-size: 800% 100%;
  background-position: 100% 0%;
  transition: background-position 600ms ease-in-out;
  margin: 0px 26px;
}
.v1 .line-bg-position {
  background-position: 0% 0%;
}
.v1 .line-animation {
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: line;
}
@keyframes line {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.v1 .container-margin {
  width: calc(100vw - 290px);
}
.v1 .icon-content::before {
  position: absolute;
  border: 3px solid #75dbcd;
  height: 12vw;
  max-height: 60px;
  width: 12vw;
  max-width: 60px;
  border-radius: 12vw;
  opacity: 0;
  transition: opacity 125ms ease-in-out;
  content: " ";
  top: -6px;
}
.v1 .icon-content:hover::before {
  opacity: 1;
  top: -8px;
}
.v1 .icon-content::after {
  opacity: 0;
  color: #75dbcd;
  transition: opacity 150ms ease-in-out;
}
.v1 .icon-content:hover::after {
  opacity: 1;
}
.v1 .icon-email::after {
  content: "Copy Email";
}
.v1 .icon-email-clicked::after {
  content: "Copied";
}
.v1 .icon-github::after {
  content: "  Github  ";
  min-width: 13vw;
  text-align: center;
}
.v1 .icon-linkedin::after {
  content: " LinkedIn ";
  min-width: 13vw;
  text-align: center;
}
.v1 .icon-facebook::after {
  content: "Facebook";
  min-width: 13vw;
  text-align: center;
}
.v1 .icon:hover {
  cursor: pointer;
}
.v1 .icon > img {
  height: 10vw;
  max-height: 50px;
  width: 10vw;
  max-width: 50px;
  transition:
    transform 150ms ease-in-out,
    height 150ms ease-in-out,
    width 150ms ease-in-out,
    max-height 150ms ease-in-out,
    max-width 150ms ease-in-out;
}
.v1 .icon:hover > svg {
  cursor: pointer;
  height: 11vw;
  max-height: 55px;
  width: 11vw;
  max-width: 55px;
}
.v1 .icon > svg > path {
  transition: fill 150ms ease-in-out;
}
.v1 .icon:hover > svg > path {
  fill: #7ddf64;
}
.v1 .placeholder {
  padding: 50px;
  margin: 50px;
}
.v1 .tech-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12vw;
  min-height: 2.5rem;
  justify-content: center;
}
.v1 .landing-img {
  opacity: 5%;
  width: 100vw;
  height: auto;
}
.v1 .landing-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
}
.v1 .landing-relative {
  position: relative;
}
.v1 .scroll-margin {
  min-height: 25vh;
}
.v1 .scroll-margin-2 {
  min-height: 1vh;
}
.v1 .margin-top-img {
  margin-top: 5vh;
}
.v1 .to-top {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.v1 .visible {
  opacity: 1;
}
.v1 .back-to-top-icon {
  background: #75dbcd;
  mask-image: url("./src/v1/assets/icons/BackToTop3.svg");
  mask-size: 4vmin auto;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("./src/v1/assets/icons/BackToTop3.svg");
  -webkit-mask-size: 4vmin auto;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  height: 4.1vmin;
  width: 4.1vmin;
  transition: transform 150ms ease-in-out;
}
.v1 .back-to-top-icon:hover {
  background: #7ddf64;
  transform: scale(1.2);
}
@media screen and (min-height: 109vw) {
  .v1 li {
    margin-right: 20px;
  }
  .v1 .heading-margin {
    margin-bottom: 20px;
  }
  .v1 .margin-bottom-50 {
    margin-bottom: 20px;
  }
  .v1 .img-behind {
    z-index: -1;
    opacity: 0.2;
    top: -25px;
    right: 42px;
  }
  .v1 .z-b1 {
    visibility: hidden;
    height: 0px;
  }
  .v1 .vw-28 {
    width: 70vw;
  }
  .v1 .vw-53 {
    width: 70vw;
  }
  .v1 .black-filter {
    height: 0px;
  }
  .v1 .relative {
    position: absolute;
    justify-content: center;
  }
  .v1 .absolute {
    position: initial;
  }
  .v1 #project1,
  .v1 #project2,
  .v1 #project3 {
    position: relative;
  }
  .v1 .desc-padding {
    padding: 25vh 0rem 25vh 0rem;
  }
  .v1 .height-90 {
    height: 30vh;
  }
  .v1 .row-column {
    flex-direction: column;
  }
  .v1 .contact-vw-53 {
    width: 100%;
  }
  .v1 .column-row {
    flex-direction: row;
    margin-top: 10vw;
  }
  .v1 .max-width-27r {
    width: 100%;
    justify-content: space-evenly;
  }
  .v1 .icon-content:hover::before {
    opacity: 1;
    top: -8.4%;
  }
  .v1 .icon-content::before {
    opacity: 0;
    top: -8.4%;
  }
  .v1 .icon-email::after {
    margin-top: 10%;
  }
  .v1 .icon-github::after {
    margin-top: 10%;
  }
  .v1 .icon-linkedin::after {
    margin-top: 10%;
  }
  .v1 .icon-discord::after {
    margin-top: 10%;
  }
  .v1 .margin-top-46 {
    margin-top: 5vh;
  }
  .v1 .img-horizontal {
    width: 70vw;
  }
  .v1 .img-vertical {
    width: auto;
    height: 40vh;
  }
  .v1 .img-square {
    z-index: -1;
    opacity: 0.5;
  }
  .v1 .vh-15 {
    height: 8vh;
  }
  .v1 .padding-top-5 {
    padding-top: 8vh;
  }
  .v1 .margin-top-img {
    margin-top: 0vh;
  }
}
@media screen and (max-height: 150vw) and (min-height: 109vw) {
  .v1 .title-btm-margin {
    min-height: 55vw;
  }
}
@media screen and (max-width: 912px) {
  .v1 .landing-img {
    height: 100vh;
    width: auto;
  }
  .v1 .landing-container {
    display: flex;
    justify-content: center;
  }
}
